<%= form_with(model: professional, multipart: true) do |form|  %>
  <% if professional.errors.any? %>
    <div style="color: red">
      <ul class="alert alert-danger" role="alert">
        <% professional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= form.label :name, class: "form-label campo" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label campo" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cell_phone, class: "form-label campo" %>
    <%= form.number_field :cell_phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cpf, class: "form-label campo" %>
    <%= form.number_field :cpf, class: "form-control" %>
  </div>  

  <div class="mb-3">
    <%= form.label :specialty, class: "form-label campo" %>
    <%= form.text_field :specialty, class: "form-control" %>
  </div>

  <div class="mb-3 centraliza">
    <%= form.submit "Salvar", class: "btn btn-sm btn-primary cor-customizada" %>
  <div/>
<% end %>
