<div id="<%= dom_id professional %>">

  <p class="card-text">
    <strong class="campo">Nome:</strong>
    <%= professional.name %>
  </p>
   
  <p class="card-text">
    <strong class="campo">Email:</strong>
    <%= professional.email %>
  </p>  

  <p class="card-text">
    <strong class="campo">Celular:</strong>
    <%= professional.cell_phone %>
  </p>

  <p class="card-text">
    <strong class="campo">CPF:</strong>
    <%= professional.cpf %>
  </p>

  <p class="card-text">
    <strong class="campo">Especialidade:</strong>
    <%= professional.specialty %>
  </p>

</div>

  </div> <!-- final card -->
  </div> <!-- final card -->