<div id="<%= dom_id customer %>">

  <p class="card-text">
    <strong class="campo">Nome:</strong>
    <%= customer.name %>
  </p>
   
  <p class="card-text">
    <strong class="campo">Email:</strong>
    <%= customer.email %>
  </p>  

  <p class="card-text">
    <strong class="campo">Celular:</strong>
    <%= customer.cell_phone %>
  </p>

  <p class="card-text">
    <strong class="campo">CPF:</strong>
    <%= customer.cpf %>
  </p>

  <p class="card-text">
    <strong class="campo">Idade:</strong>
    <%= customer.age %>
  </p>

</div>

  </div> <!-- final card -->
  </div> <!-- final card -->