<div class="px-4 py-5 my-5 text-center">
  <%= image_tag "logo.png", class: "d-block mx-auto mb-4", width: "150", height: "150", alt: "logo.png"%>
  <h1 class="display-5 fw-bold">Manual do MyClinic</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Bem vindo(a). Abaixo estão as orientações passo a passo de como utilizar o MyClinic.</p>
  </div>    
</div>
<div>
  
  <p class="titulo">O MyClinic possui recursos de: Clientes, Consultas, Profissionais, Relatórios e Manual</p>
  <!--Recursos da tela de clientes-->
  <p class="titulo">Recursos da tela de clientes</p>
  <ul>
    <li>Dois cards com exibição de dados destacados.</li>
    <li>Campo para pesquisa de cliente por CPF.</li>
    <li>Botão NOVO onde é possível clicar e ser direcionado para a tela de cadastro de cliente.</li>
    <li>Botões VISUALIZAR, ao lado de cada cliente, que permite visualizar os detalhes do cliente referente a linha da tabela.</li>
    <li>Menu de paginação abaixo da tabela, que permite navegar entre as páginas da tabela.</li>  
  </ul>
  <%= image_tag "3.png", size: "1024x768", class: "img-fluid d-block mx-auto mb-4" %>
  <!--Recursos da tela de consultas-->
  <p class="titulo">Recursos da tela de consultas</p>
  <ul>
    <li>Dois cards com exibição de dados destacados.</li>
    <li>Campo para pesquisa de consulta por CPF.</li>
    <li>Botão NOVO onde é possível clicar e ser direcionado para a tela de cadastro de consultas.</li>
    <li>Botões VISUALIZAR, ao lado de cada consulta, que permite visualizar os detalhes da consulta referente a linha da tabela.</li>
    <li>Menu de paginação abaixo da tabela, que permite navegar entre as páginas da tabela.</li>  
  </ul>
  <%= image_tag "4.png", size: "1024x768", class: "img-fluid d-block mx-auto mb-4" %>
 <!--Recursos da tela de profissionais-->
 <p class="titulo">Recursos da tela de profissionais</p>
  <ul>
    <li>Dois cards com exibição de dados destacados.</li>
    <li>Campo para pesquisa de profissional por CPF.</li>
    <li>Botão NOVO onde é possível clicar e ser direcionado para a tela de cadastro de profissionais.</li>
    <li>Botões VISUALIZAR, ao lado de cada profissional, que permite visualizar os detalhes do profissional referente a linha da tabela.</li>
    <li>Menu de paginação abaixo da tabela, que permite navegar entre as páginas da tabela.</li>  
  </ul>
  <%= image_tag "5.png", size: "1024x768", class: "img-fluid d-block mx-auto mb-4" %>
 <!--Recursos da tela de relatórios-->
 <p class="titulo">Recursos da tela de relatórios</p>
  <ul>
    <li>Três cards com exibição de dados destacados.</li>
    <li>Dois gráficos com dados para análise.</li>
  </ul>
  <%= image_tag "2.png", size: "1024x768", class: "img-fluid d-block mx-auto mb-4" %>

</div>
<br/>
<div class="b-example-divider titulo"></div>