<div id="<%= dom_id appointment %>">

  <p class="card-text">
    <strong class="campo">Data:</strong>
    <%= appointment.date %>
  </p>
   
  <p class="card-text">
    <strong class="campo">Hora:</strong>
    <%= appointment.hour %>
  </p>  

  <p class="card-text">
    <strong class="campo">Cliente:</strong>
    <%= appointment.customer_id %>
  </p>

  <p class="card-text">
    <strong class="campo">Profissional:</strong>
    <%= appointment.professional_id %>
  </p>

  <p class="card-text">
    <strong class="campo">Categoria:</strong>
    <%= appointment.category %>
  </p>

</div>

  </div> <!-- final card -->
  </div> <!-- final card -->