<p style="color: green"><%= notice %></p>

<h3 class="titulo">Consultas</h3>
<div class="album py-1 bg-light">   
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm ">
        <div class="card-header text-center my-card">
          <h4>Total de Consultas<h4>
        </div>
        <div class="card-body text-center my-card">
          <h2><%= @total_appointments.size %></h2>    
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm ">
        <div class="card-header text-center my-card">
          <h4>Total de Retornos<h4>
        </div>
        <div class="card-body text-center my-card">
          <h2> <%= @appointments_returns.size %> </h2>    
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm ">
        <%= image_tag "spider.png", class: "card-image" %>          
      </end>
    </div>
  </div>    
</div>

<div class="mb-3 form-pesquisa">
  <%= form_tag( appointments_path, :method => :get, html: {class: "form-inline"}) do %>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <%= text_field_tag 'cpf', nil, class: "form-control col-md-6", pattern: "[0-9]{11}", placeholder: "11 dígitos apenas" %>      
      </div>
      <div class="col-auto">
        <%= submit_tag "Pesquisar Cpf", :name => nil, class: "btn btn-primary cor-customizada" %>  
      </div>
      <div class="col-auto">
        <%= link_to t('links.new'), new_appointment_path, class: "btn btn-primary cor-customizada" %>
      </div>  
    </div>
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col"><%= t'.date' %></th>             
        <th scope="col">Hora</th>
        <th scope="col"><%= t'.customer_id' %></th>
        <th scope="col">Profissional</th> 
        <th scope="col"><%= t'.category' %></th>              
        <th scope="col">Detalhes</th>
      </tr>      
    </thead>      
    <tbody>
      <% @appointments.each do |appointment| %>  
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.hour %></td>
        <td><%= appointment.customer_id %></td>
        <td><%= appointment.professional_id %></td>                
        <td><%= appointment.category %></td>
        <td><%= link_to t('links.show'), appointment, class: "btn btn-sm btn-primary cor-customizada" %></td>
      </tr>
      <% end %>            
    </tbody>
  </table>
  <% if @appointments.size > 1%>
    <div class="centraliza">
      <%= paginate @appointments %>
    </div>   
  <%end%> 
</div>  
      