<p style="color: green"><%= notice %></p>
<h3 class="titulo">Detalhes da consulta</h3>
<div class="card mb-3" > <!-- fechado em _appointment.html.erb -->
  <div class="row g-0"> <!-- fechado em _appointment.html.erb -->
    <div class="col-md-6">
      <div class="card-body">
        <%= render @appointment %>
      </div>
    </div>

    <div class="centraliza">
      <%= link_to t('links.edit'), edit_appointment_path(@appointment), class: "btn btn-sm btn-primary cor-customizada my-link" %>
      <%= link_to 'Print', appointment_path(format: :pdf), target: "_blank",class: "btn btn-sm btn-primary cor-customizada my-link" %>
      <%= button_to "Destroy", appointment_path(@appointment), class: "btn btn-sm btn-primary cor-customizada my-link", form: { data: { turbo_confirm: "Are you sure?" }}, method: :delete %>
    </div>

